
Bubble Page/Bubble-Page/
bubble/img/background.png
bubble/img/background2.png
bubble/img/bubble.png
bubble/img/fb.png
bubble/img/ig.png
bubble/img/info.png
bubble/img/logo.png
bubble/img/menu.png
bubble/img/share.png
bubble/img/Thumbs.db
bubble/img/tw.png
bubble/index.html
bubble/style.css
Calculator/Calculator/
Calculator/css.css
Calculator/html.html
Calculator/java.js
Google/.gitattributes
image slider/img/image (1).jpg
image slider/img/image (10).jpg
image slider/img/image (11).jpg
image slider/img/image (12).jpg
image slider/img/image (2).jpg
image slider/img/image (3).jpg
image slider/img/image (4).jpg
image slider/img/image (5).jpg
image slider/img/image (6).jpg
image slider/img/image (7).jpg
image slider/img/image (8).jpg
image slider/img/image (9).jpg
image slider/index.html
image slider/java.js
image slider/style.css
Image-Slider/
Meditation/.gitattributes
NavBar/.gitattributes
Projects/Calculator/css.css
Projects/Calculator/html.html
Projects/Calculator/java.js
Projects/default html/css.css
Projects/default html/html.html
Projects/gotham-rounded/GothamRounded-Bold.otf
Projects/gotham-rounded/GothamRounded-BoldItalic.otf
Projects/gotham-rounded/GothamRounded-Book.otf
Projects/gotham-rounded/GothamRounded-BookItalic.otf
Projects/gotham-rounded/GothamRounded-Light.otf
Projects/gotham-rounded/GothamRounded-LightItalic.otf
Projects/gotham-rounded/GothamRounded-Medium.otf
Projects/gotham-rounded/GothamRounded-MediumItalic.otf
Projects/gotham-rounded/GothamRoundedBold_21016.ttf
Projects/gotham-rounded/GothamRoundedBook_21018.ttf
Projects/gotham-rounded/GothamRoundedLight_21020.ttf
Projects/gotham-rounded/GothamRoundedMedium_21022.ttf
Projects/imagallery/app.js
Projects/imagallery/img/room1-big.jpeg
Projects/imagallery/img/room1-small.jpeg
Projects/imagallery/img/room2-big.jpeg
Projects/imagallery/img/room2-small.jpeg
Projects/imagallery/img/room3-big.jpeg
Projects/imagallery/img/room3-small.jpeg
Projects/imagallery/index.html
Projects/imagallery/style.css
Projects/image slider/img/image (1).jpg
Projects/image slider/img/image (10).jpg
Projects/image slider/img/image (11).jpg
Projects/image slider/img/image (12).jpg
Projects/image slider/img/image (2).jpg
Projects/image slider/img/image (3).jpg
Projects/image slider/img/image (4).jpg
Projects/image slider/img/image (5).jpg
Projects/image slider/img/image (6).jpg
Projects/image slider/img/image (7).jpg
Projects/image slider/img/image (8).jpg
Projects/image slider/img/image (9).jpg
Projects/image slider/index.html
Projects/image slider/java.js
Projects/image slider/style.css
Projects/input/index.html
Projects/input/style.css
Projects/Java/01Basics/HelloWorld.js
Projects/meditation-app-master/app.js
Projects/meditation-app-master/index.html
Projects/meditation-app-master/README.md
Projects/meditation-app-master/sounds/beach.mp3
Projects/meditation-app-master/sounds/rain.mp3
Projects/meditation-app-master/style.css
Projects/meditation-app-master/svg/beach.svg
Projects/meditation-app-master/svg/moving-outline.svg
Projects/meditation-app-master/svg/pause.svg
Projects/meditation-app-master/svg/play.svg
Projects/meditation-app-master/svg/rain.svg
Projects/meditation-app-master/svg/replay.svg
Projects/meditation-app-master/svg/track-outline.svg
Projects/meditation-app-master/video/beach.mp4
Projects/meditation-app-master/video/rain.mp4
Projects/MyProject/app.js
Projects/MyProject/html.html
Projects/MyProject/sounds/beach.mp3
Projects/MyProject/sounds/rain.mp3
Projects/MyProject/style.css
Projects/MyProject/svg/beach.svg
Projects/MyProject/svg/moving-outline.svg
Projects/MyProject/svg/pause.svg
Projects/MyProject/svg/play.svg
Projects/MyProject/svg/rain.svg
Projects/MyProject/svg/replay.svg
Projects/MyProject/svg/track-outline.svg
Projects/MyProject/video/beach.mp4
Projects/MyProject/video/rain.mp4
Projects/OLDENGL.TTF
Projects/poleeee.rar
Projects/real/index.html
Projects/real/java.js
Projects/real/style.css
Projects/Something/
Projects/test/app.js
Projects/test/laptop-ui-master/img/arrow-left.svg
Projects/test/laptop-ui-master/img/arrow-right.svg
Projects/test/laptop-ui-master/img/big-eclipse.svg
Projects/test/laptop-ui-master/img/cart.svg
Projects/test/laptop-ui-master/img/dot-full.svg
Projects/test/laptop-ui-master/img/dot.svg
Projects/test/laptop-ui-master/img/logo.svg
Projects/test/laptop-ui-master/img/matebook.png
Projects/test/laptop-ui-master/img/mid-eclipse.svg
Projects/test/laptop-ui-master/img/small-eclipse.svg
Projects/test/laptop-ui-master/index.html
Projects/test/laptop-ui-master/style.css
Projects/test/test.html
Projects/test/test.js
Projects/TOP-Rock-Paper-Scissors-master/images/paper.png
Projects/TOP-Rock-Paper-Scissors-master/images/rock.png
Projects/TOP-Rock-Paper-Scissors-master/images/scissors.png
Projects/TOP-Rock-Paper-Scissors-master/index.html
Projects/TOP-Rock-Paper-Scissors-master/README.md
Projects/TOP-Rock-Paper-Scissors-master/RPS.js
Projects/TOP-Rock-Paper-Scissors-master/styles.css
Slide/app.js
Slide/fullpage.min.css
Slide/fullpage.min.js
Slide/img/chair1.png
Slide/img/chair2.png
Slide/img/chair3.png
Slide/img/lamp.png
Slide/img/sofa.png
Slide/img/XzyRQt.jpg
Slide/index.html
Slide/style.css
SlideHome/
TapMusic/.gitattributes
Todo-List/
TodoList/index.html
TodoList/java.js
TodoList/style.css
Weather/.gitattributes
